[buildout]
parts =
    zope2
    reportlab
    instance
    omelette
    zopepy
    productdistros

extends = 
    http://dist.plone.org/release/3.3/versions.cfg

versions = versions

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/3.3
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://dist.repoze.org/
    http://effbot.org/downloads
    http://public.upfronthosting.co.za/eggs/

# Add additional eggs here
eggs =

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =
    src/unep.policy
    src/unep.theme

[PIL]
recipe = zc.recipe.egg
egg = PIL>=1.1.6

[reportlab]
recipe = collective.recipe.distutils
url = http://www.reportlab.org/ftp/ReportLab_2_3.tar.gz

[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
additional-fake-eggs = 
    ZODB3
url = ${versions:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:local
http-address = 8080
debug-mode = on
verbose-security = on
extra-paths =  ${buildout:directory}/parts/site-packages

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} ${plone:eggs} my.package
eggs =
    Plone
    ${buildout:eggs}
    Products.membrane
    Products.remember
    Products.ATExtensions
    Products.ATVocabularyManager
    Products.ATReferenceBrowserWidget
    unep.policy
    unep.theme
    archetypes.schemaextender
    archetypes.schematuning
    experimental.catalogqueryplan
    Products.CacheSetup

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml = 
    unep.policy
    unep.theme
    archetypes.schemaextender
    archetypes.schematuning
    experimental.catalogqueryplan

products =
    ${buildout:directory}/products
    ${productdistros:location}

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ${zope2:location}/lib/python ./

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[productdistros]
recipe = plone.recipe.distros
urls = 

nested-packages =
version-suffix-packages =

