[buildout]
parts =
    zope2
    reportlab
    zopepy
    productdistros
    zeo
    instance1
    omelette

extends = 
    http://dist.plone.org/release/3.3/versions.cfg
    versions.cfg

versions = versions

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/3.3
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://dist.repoze.org/
    http://effbot.org/downloads
    http://public.upfronthosting.co.za/eggs/

# Add additional eggs here
eggs =
    PIL
    Plone
    Products.membrane
    Products.remember
    Products.ATExtensions
    Products.ATVocabularyManager
    Products.ATReferenceBrowserWidget
    unep.policy
    unep.theme
    archetypes.schemaextender
    archetypes.schematuning
    experimental.catalogqueryplan
    Products.CacheSetup
    Products.PloneHotfix20121106    
    Products.PloneHotfix20130618
    Products.PloneHotfix20131210
    atreal.usersinout
# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =
    src/unep.policy
    src/unep.theme

[reportlab]
recipe = collective.recipe.distutils
url = http://www.reportlab.org/ftp/ReportLab_2_3.tar.gz

[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
additional-fake-eggs = 
    ZODB3
    zope.interface
url = ${versions:zope2-url}

[instance1]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:local
http-address = 8080
icp-server-address = 3001
effective-user = zope
debug-mode = off
verbose-security = off
zeo-client = True
zeo-address = ${zeo:zeo-address}
extra-paths =  ${buildout:directory}/parts/site-packages
zodb-temporary-storage =
    <zodb_db temporary>
        mount-point /temp_folder
        cache-size 50000
        <zeoclient>
          server localhost:${zeo:zeo-address}
          storage temp
          name zeo-temp-storage
          cache-size 25MB
        </zeoclient>
    </zodb_db>
zope-conf-additional =
       <icp-server>
           address localhost:${instance1:icp-server-address}
       </icp-server>

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} ${plone:eggs} my.package
eggs =
    ${buildout:eggs}

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    unep.policy
    unep.theme
    archetypes.schemaextender
    archetypes.schematuning
    experimental.catalogqueryplan
    Products.ATVocabularyManager

products =
    ${buildout:directory}/products
    ${productdistros:location}

# You may also control the environment variables for the instance.
environment-vars =
    PYTHON_EGG_CACHE ${buildout:directory}/var/.python-eggs

[zeo]
recipe = plone.recipe.zope2zeoserver
zope2-location = ${zope2:location}
zeo-address = 8100
#zeo-address = ${buildout:directory}/var/zeoserver/zeoaddress.zdsock
effective-user =  rijk
zeo-conf-additional =
    %import tempstorage
    <temporarystorage temp>
        name temp storage for sessioning
    </temporarystorage> 
# Put the log, pid and socket files in var/zeoserver
zeo-log     = ${buildout:directory}/var/zeoserver/zeoserver.log
pid-file    = ${buildout:directory}/var/zeoserver/zeoserver.pid
socket-name = ${buildout:directory}/var/zeoserver/zeo.zdsock

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance1:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[productdistros]
recipe = plone.recipe.distros
urls = 

nested-packages =
version-suffix-packages =

[chown]
recipe = plone.recipe.command
command =
    chmod 600 .installed.cfg
    touch ${buildout:directory}/var/zeoserver/zeoserver.log
    find ${buildout:eggs-directory} -type d -name LC_MESSAGES -exec chown -R ${instance1:effective-user} {} \;
    find ${zope2:location} -type d -name LC_MESSAGES -exec chown -R ${instance1:effective-user} {} \;
    chown -R ${zeo:effective-user} ${buildout:directory}/var/filestorage
    chmod 700 ${buildout:directory}/var/filestorage
    chown -R ${zeo:effective-user} ${buildout:directory}/var/zeoserver
    chmod 700 ${buildout:directory}/var/zeoserver
    chown -R ${instance1:effective-user} ${buildout:directory}/var/instance?
    chmod 700 ${buildout:directory}/var/instance?
update-command = ${chown:command}

[PIL]
recipe = zc.recipe.egg
egg = PIL>=1.1.6

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance1:eggs}
packages = ${zope2:location}/lib/python ./
