/* ------------------ Page Layout styles -------------------------------- */
body { 
    background: #e7e7e7;
    font-family: Verdana, Arial;
    font-size: small;
    font-weight: bold;
    color: #24a1d1;
}

div { 
    background: white;
    border: 0;
    padding: 0;
    margin: 0;
}

/* ----------------- Link Styles ---------------------------------------- */
a {
    text-decoration: none;
    color: #24a1d1; 
}

a:hover {
    text-decoration: underline;
}

/* ------------------ Image styles -------------------------------------- */
img { 
    margin: 0; 
    padding: 0;
    border: 0;
}

/* ------------------ Top Menu Styles ----------------------------------- */
.top-menubar {
    width: 100%; 
    font-size: x-small; 
    height: 34px; 
    border-bottom: 1px solid #e7e7e7;
}
.top-item {
    float:left; 
    border-right: 1px solid #e7e7e7; 
    text-align: center;
}

.top-item a {
    display: block;
    padding: 10px 20px 10px 20px; 
}
.top-item a:hover {
    background: #24a1d1; 
    color: white; 
}

/* ------------------ Form styles --------------------------------------- */
input {
    font-family: Verdana, Arial;
    border: 1px solid #e7e7e7;
    background: white;
}

input.searchButton {
    font-size: x-small;
    font-weight: bold;
    background: #24a1d1;
    color: white;
    padding: 0 0 0 19px;
    text-transform: lowercase;
    border: 1px solid #24a1d1;
}

